[Unit]
Description=Ansible Receptor for Linux
After=network.target
StartLimitIntervalSec=0[Service]

[Service]
ExecStart={{ receptor_install_dir }}/receptor --config {{ receptor_config_path }}/receptor.conf
TimeoutStopSec=5
Type=simple
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
Alias={{ receptor_service_name }}.service