name: Triage

"on":
  issues:
    types:
      - opened

jobs:
  triage:
    runs-on: ubuntu-latest
    name: Label

    steps:
      - name: Label issues
        uses: github/issue-labeler@v3.4
        with:
          repo-token: "${{ secrets.GITHUB_TOKEN }}"
          not-before: 2023-01-09T07:00:00Z
          configuration-path: .github/issue_labeler.yml
          enable-versioned-regex: 0
        if: github.event_name == 'issues'
